HELP.md
nbactions.xml
target/
nbactions.xml
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Cypress binary cache (platform-specific builds)
frontend-tests/node_modules/
frontend-tests/cache/
frontend-tests/.cypress/
frontend-tests/.settings

# Cypress screenshots and videos (if you use them)
frontend-tests/screenshots/
frontend-tests/videos/

# Cypress log files
frontend-tests/logs/
