/* Adri */

.imgreg{
    border-width: 1px;
    border-color: white;
    padding-top: 2px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 2px;  
    width: 100px  ;
    background-color: transparent;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5);
}
.obs{
    
    font-weight: bolder;
}
.headerRegistro{
    background-color: #9DF3C4;
}
    
.linkheader{
    font-family: 'Pacifico', cursive;  
    text-shadow: 2px 2px rgba(0,0,0,0.3);   
    font-size: 25px;
}

/* Geri */

.bodyIndex {
background-color: #D7FBE8;
font-family: arial;
color:white
}

.but {
    background-color: #62D2A2;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4) ;
    border-color:none;
}

.borderedit{
    background-color: #9DF3C4;
    border: 2px solid #1FAB89;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4) ;
}

.imgx {
    border-width: 1px;
    border-color: white;
    padding-top: 36px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 3px;  
    width: 230px  ;
    background-color: transparent;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5);
   }
      
.marca{
    font-family: 'Pacifico', cursive;  
    text-shadow: 2px 2px rgba(0,0,0,0.3);   
}
/* Facu */
/* Facu */
    
/* Fran */


.login{
 background: #1FAB89;
}

.main-container{
    width: 1100px;
    height: 400px;
    background: #fff;
    margin-top: 150px;
    margin-left: 65px;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;

}

.caja-imagen{
    width: 300px;
    height: 300px;
    background: transparent;
}

.caja-imagen img{
width: 300px;
height: 300px;
margin-top: 80px;
margin-left: 50px;
display: inline;
margin-right: 0px;
box-sizing: border-box;
}

.caja-form{
width: 500px;
height: 300px;
background: transparent;
margin-left: 600px;
margin-top: -292px;
}

.pre-control{
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 10px;
padding-bottom: 10px;
border-top: 10px;
border-bottom: 10px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 20px;
}

.control{
    width: 100%;
    height: 20px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 10px;
padding-bottom: 10px;
border-top: 10px;
border-bottom: 10px;
margin-top: 10px;
margin-bottom: 10px;
background: #D7FBE8;
}

.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.boton{
    margin-left: 85%;
    padding: 5px 15px;
    background: #62D2A2;
    margin-bottom: 20px;
    border-radius: 10px;
}

.derivada{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -20px;
}

