<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <title>Gracias</title>
</head>

<body>
    <div class="container-lg col-8 my-3">
        <div class="row">
            <div class="container col-4 ">
                <img class="img3" src="/src/main/resources/static/img/logo2.png" alt="logo2">
            </div>
            <div class="container mb-3">
                <h1> ¡¡Gracias por registrarte!!</h1>
            </div>
            <div class="container col-8 m-auto">
                <div class="container">
                    <h4> Acerca de:</h4>
                </div>
                <div class="container mb-5">
                    <p>
                        La Técnica Pomodoro es un método para mejorar la administración del tiempo dedicado a una
                        actividad. Fue creado por Francesco Cirillo a fines de la década de 1980. Se basa en usar un
                        temporizador para dividir el tiempo en intervalos fijos, llamados pomodoros, de 25 minutos de
                        actividad, seguidos de 5 minutos de descanso, con pausas más largas cada cuatro pomodoros.
                    </p>
                </div>
                <div class="container col-4 mt-5">
                    <div class="col my-3 d-grid gap-2 col-12">
                        <a th:href="@{login.html}"><button type="button" class="btn-lg btn-success rounded btn-toolbar">¡Empecemos!</button></a>
                    </div>

                </div>

            </div>
        </div>

        <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>