<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <title>Pomodoro</title>
</head>
<body class="login">
    <!--la seccion va a conter 2 cajas, una con la imagen y la otra con el formulario-->
    <section class="main-container">
        <!--imagen-->
        <div class="caja-imagen">
            <img src="../static/img/logo2.png" alt="logo2">
        </div>
        
        <!--formulario-->
        <form th:action="@{/usuario/login}" method="post">
            <div class="caja-form">
                <h5 class="titulo">Login</h5>
                <p th:if="${error != null}" th:text="${error}" class ="danger"></p>
                <label class="pre-control" for="email">Email</label>
                <br>
                <input class="control" type="text" name="email" value="" placeholder="Ingrese su email">
                <br>
                <label class="pre-control" for="password">Contraseña</label>
                <br>
                <input class="control" type="password" name="contrasena" value="" placeholder="Ingrese su contraseña">
                <br>
                <input class="boton" type="button" value="Ingresar">
                <p class="derivada"><a href="#">¿Olvidaste tu contraseña?</a></p>
                
            </div>
        </form>
      
    </section>
</body>
</html>