<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Font Pacifico -->
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <title>VistaPrincipal</title>
</head>

<body class="bodyIndex">

  <div class="borderedit container col-9 px-8 py-5 my-4 ">

      <div class="col-9 container borderbox-box">
        <img src="../static/img/sol.png"  th:src="@{/img/sol.png}" alt="sol" class="imagen-box">
        <a th:action="@{/.......}" method="post" class="titulo linkeable">Hoy</a>
        <STYLE>
          A {
            text-decoration: none;
          }
        </STYLE>
      </div>

      <br>
      <div class="col-9 container borderbox-box">
        <img src="../static/img/flecha.png"  th:src="@{/img/flecha.png}" alt="flecha" class="imagen-box">
        <a th:action="@{/.......}" method="post" class="titulo linkeable">Mañana</a>
        <STYLE>
          A {
            text-decoration: none;
          }
        </STYLE>
      </div>
      <br>
      <div class="col-9 container borderbox-box">
        <img src="../static/img/calendario.png"  th:src="@{/img/calendario.png}" alt="calendario" class="imagen-box">
        <a th:action="@{/.......}" method="post" class="titulo linkeable">Próximo</a>
        <STYLE>
          A {
            text-decoration: none;
          }
        </STYLE>
      </div>
      <br>
      <div class="col-9 container borderbox-box">
        <img src="../static/img/check.png"  th:src="@{/img/check.png}" alt="check" class="imagen-box">
        <a th:action="@{/.......}" method="post" class="titulo linkeable">Completado</a>
        <STYLE>
          A {
            text-decoration: none;
          }
        </STYLE>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
  </div>      
</body>

</html>